<p-dataView #dataView [value]="recipeList" filterBy="filterKeyWorkds" layout="grid">

    <ng-template pTemplate="header" class="">
        <div class="grid">
            <div class="col-12 md:col-6">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Search" [(ngModel)]="textFilter"
                        (input)="applyGlobalFilter()" />
                </span>
            </div>
            <div class="col-12 md:col-6 flex justify-content-end">
                <div class="flex align-items-center">
                    <p-dataViewLayoutOptions class="mr-2"></p-dataViewLayoutOptions>
                    <p-button class="p-button-sm" label="Ajouter" icon="pi pi-plus" (onClick)="insert()"></p-button>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template let-recipe pTemplate="listItem">
        <div class="col-12 p-2 flex justify-content-between">
            <div class="flex-grow-1 flex justify-content-between cursor-pointer" (mouseover)="recipe.display=true"
                (mouseout)="recipe.display=false" (click)="openRecipe(recipe)">
                <div class="flex flex-column align-items-right justify-content-around">
                    <h4>{{recipe.name}}</h4>
                    <h5 class="font-light font-italic" *ngIf="recipe.keywords">{{recipe.keywords}}</h5>
                </div>
                <div><img class="shadow-2 w-full h-full sm:w-8rem md:w-15rem lg:w-20rem max-h-20rem"
                        [src]="recipe.imgPath ? recipe.imgPath : 'assets/cooking-book.png'">
                </div>
            </div>
            <div class="flex-none flex align-items-center mx-1 md:mx-3">
                <p-button class="p-button-sm fadeinleft animation-duration-100" icon="pi pi-external-link"
                    *ngIf="recipe.display"></p-button>
                <p-button class="p-button-danger p-button-sm" icon="pi pi-ellipsis-v" *ngIf="!recipe.display"
                    (click)="currentRecipe = recipe; menu.toggle($event)">
                </p-button>
            </div>
        </div>
    </ng-template>

    <ng-template let-recipe pTemplate="gridItem">
        <div class="col-12 md:col-6 lg:col-4 xl:col-3 p-1">
            <div class="relative h-full">
                <div class="relative border-round shadow-3 p-2 cursor-pointer h-full flex flex-column"
                    (click)="openRecipe(recipe)" (mouseover)="recipe.display=true" (mouseout)="recipe.display=false">
                    <h4 class="flex-none my-2">{{recipe.name}}</h4>
                    <div class="flex justify-content-center w-full flex-grow-1">
                        <div class="flex align-items-center">
                            <img class="shadow-2 max-w-full max-h-10rem" loading="lazy"
                                [src]="recipe.imgPath ? recipe.imgPath : 'assets/cooking-book.png'">
                        </div>
                    </div>
                </div>
                <div class="absolute top-50 right-0 m-3">
                    <p-button class="p-button-sm fadeinleft animation-duration-100" icon="pi pi-external-link"
                        *ngIf="recipe.display"></p-button>
                    <p-button class="p-button-danger p-button-sm" icon="pi pi-ellipsis-v" *ngIf="!recipe.display"
                        (click)="currentRecipe = recipe; menu.toggle($event)">
                    </p-button>
                </div>
                <div class="absolute top-50 left-0 m-3">
                    <button pButton pRipple type="button" class="p-button-rounded p-button-text p-button-warning"
                        icon="pi pi-star-fill" *ngIf="recipe.favorit" (click)="switchFavorit(recipe)">
                    </button>
                    <button pButton pRipple type="button" class="p-button-rounded p-button-text p-button-warning"
                        icon="pi pi-star" *ngIf="!recipe.favorit" (click)="switchFavorit(recipe)">
                    </button>
                </div>
            </div>
        </div>
    </ng-template>

</p-dataView>

<p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<p-dialog [header]="currentRecipe ? currentRecipe.name : ''" [(visible)]="commentDisplay" [style]="{width: '50vw'}">
    <div [innerHtml]="currentRecipe?.comment"></div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="commentDisplay=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<pre *ngIf="!production">{{recipeList | json}}</pre>